body{
  /*background-image: url('images/c9bbb64405474daf7902e0735c02894c-d9tkxf6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper{
  background: black;
  color: white;
  width: 100%;
  padding: 0 15px 0 15px;
}

.wrapper h1{
  width: 100%;
  margin: auto;
  display: inline;
}

/*p{
  text-align: justify;
}*/

.wrapper nav{
  width: 100%;
}

.wrapper nav ul{
  list-style-type: none;
  margin-left: 1080px;
  padding: 0 0 0 15px;
  display: inline-flex;
}

.wrapper nav ul li{
  color: white;
  padding: 15px 15px;
}

.wrapper nav ul li a{
  display: block;
  color: white;
  text-decoration: none;
}
